/* BODY */
body {
    background: linear-gradient(to right, #0ECBF5, #8ecdff);
    background-color: #eee;
    color: #111;
}

/* GAME */
#check1 {
    background-color: seagreen;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 42px;
    padding: 16px 31px;
    text-decoration: none;
    margin-top: 50px;
    text-shadow: 0px 1px 0px #2f6627;
    position: absolute;
    font-family: 'chalk',
        Arial,
        sans-serif;
}

.score {
    font-family: 'chalk',
        Arial,
        sans-serif;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin: 1rem;
    position: relative;
    transition: opacity 0.2s;
}

.draggable-items {
    display: flex;
    justify-content: center;
    transition: opacity 0.5s;
    padding-bottom: 10px;
    margin: 30px 150px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.draggable {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9rem;
    margin: 6rem 3.5rem;
    cursor: move;
    transition: opacity 0.2s;
}

#title_text {
    text-align: center;
    font-size: 50px;
    font-family: 'chalk',
        Arial,
        sans-serif;
}

.titleboxes {
    text-align: center;
    font-size: 40px;
    font-family: 'chalk',
        Arial,
        sans-serif;
}

.draggable:hover {
    opacity: 0.5;
}

.matching-pairs {
    transition: opacity 0.5s;
}

.matching-pair {
    height: 17rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.matching-pair span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.label {
    width: 15rem;
    font-size: 2rem;
}

.droppable {
    font-size: 4rem;
    background-color: #fff;
    border: 3px dashed #111;
    transition: 0.2s;
    height: 200px;
    width: 180px;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.droppable-hover {
    background-color: #bee3f0;
    transform: scale(1.1);
}

.dropped {
    border-style: solid;
}

.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}

.draggable.dragged:hover {
    opacity: 0.1;
}

/* MENU */
.menu {
    position: absolute;
    top: 35%;
    right: 0%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.caption {
    display: block;
}

.text {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 100px;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'chalk',
        Arial,
        sans-serif;
}

/* CLOUDS */
.clouds div {
    position: fixed;
    top: 0;
    left: -250px;
    height: 4000px;
    width: 4000px;
    animation: move 30s linear infinite;
    z-index: -123;
}

.clouds div img {
    max-width: 1000%;
    height: 300px;

}

.clouds div:nth-child(1) {
    animation-duration: 15s;
    top: 100px;
}

.clouds div:nth-child(2) {
    animation-duration: 20s;
    top: 200px;
}

.clouds div:nth-child(3) {
    animation-duration: 5s;
    top: 500px;
}

/*Animal*/
.animalPic {
    border-radius: 50%;
    background-color: lightcyan;
    transition: transform .2s;
    height: 250px;
    margin: 20px;
    cursor: pointer;
    padding: 20px;

}

.animalPic:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* POP UP */
.swal-wide {
    width: 750px !important;
    height: 500px !important;
    font-size: 1.6rem !important;
    background-color: rgba(63, 255, 106, 0.69);
    border: 3px solid white;
}

/* KEYFRAMES */
@keyframes move {
    0% {
        left: -200px;
    }

    100% {
        left: 100%;
    }
}

/* MEDIA */
@media (max-width: 600px) {
    html {
        font-size: 14px;
    }
}
